.flex-container{
    display: flex;

}
.flex-container ul{
    display: flex;
    margin: auto;
}
.list{
    list-style-type: none;
    display: flexbox;
}
.item:last-child{
    margin-right:0;
}
.item{
    font-family: cursive;
    color: blue;
    margin-right: 10%;
}
.item2{
    font-family: cursive;
    margin-left: 20%;
}
.link{
    color: green;
    text-decoration: none;
}  
body{
    background-color:lightblue;
}